body{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  color: #004;
  padding: 15px 30px;
  border: 2px solid #d0b8ac;
  border-radius: 15px;
  margin: 15px;
  line-height: 1.2;
}

h3{
  color: #564239;
}

img{
  vertical-align: middle;
}

iframe{
  margin-top: 5px;
  margin-bottom: 5px;
}

p{
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none; /* 기본 글머리 기호 제거 */
  padding-left: 0; /* 기본 패딩 제거 */
  font-size: 16px;
}

ul li::before {
  content: "- "; /* 각 항목 앞에 - 기호 추가 */
  color: inherit; /* 글자색 상속 */
  margin-right: 5px; /* 글머리 기호와 텍스트 사이 간격 */
}

input[type="text"] {
  height: 20px; /* input 높이를 40px로 설정 */
  font-size: 20px; /* 텍스트 크기 조정 */
  padding: 5px;
  margin: 5px;
  width: 80%;/**/
}

button{
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  background-color: #d0b8ac;
  width: 150px;
  height: 40px;
  padding: 5px;
  line-height: 30px;
  border: none;
  border-radius: 40px;
  margin-left: 140px;
  transition: transform 0.3s ease;
}

button:hover{
  transform: scale(1.1);
}

section{
  display: flex;
  justify-content: space-between;;
  width: 100%;
}

/*article{
  display: flex; /* flexbox 사용 */
  /*justify-content: space-between; /* 수평 중앙 정렬 */
  /*width: 100%; /* section의 너비를 화면 전체로 설정 */
  /*position: relative; /* 상대 위치 설정 */
/*}*/

.left, .right{
  width: 48%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  /*margin-left: 10px;*/
}

.left{
  margin-right: 2%;
  display: flex;
  flex-direction: column;
}

.right{
  padding: 15px;
  box-sizing: border-box;
}

.circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #fff;
  color: #564239;
  text-align: center;
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #564239;
}

.highlighted {
  background-color: #f3d8c7; /* 클릭 시 색칠된 색상 */
}
